<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name="viewport" content="width-device-width, initial-scale-"
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<title>Ins8 Beta</title>
	</head>
	<body>Hello Express and Ejs <%=answer%></body>
</html>